name: Deploy Firebase Functions

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Firebase
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Configure Google Cloud Credentials
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: |
          echo "$GCP_SA_KEY" > $HOME/gcloud-key.json
          gcloud auth activate-service-account --key-file=$HOME/gcloud-key.json
          gcloud config set project challenge-atom-5b851

      - name: Install dependencies
        run: |
          cd functions
          npm install

      - name: Build project
        run: |
          cd functions
          npm run build

      - name: Deploy Functions
        run: |
          cd functions
          firebase deploy --only functions --non-interactive --force
